/* Propuesta.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* Agregamos un margen inferior a los elementos Slider */
.Slider {
    margin-bottom: 30px;
}

/* Contenedor de las tarjetas de propuesta */
.propuesta-card-contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 30px;
    opacity: 0; /* Opacidad inicial */
    transition: opacity 0.5s ease;
}
  
.propuesta-card-contenedor.visible {
    opacity: 1; /* Opacidad al hacer visible */
}

/* Estilos para las tarjetas de propuesta */
.propuesta-card {
    width: 95%;
    height: auto;
    border: none;
    border-radius: 40px 10px 10px 40px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    
    perspective: 1000px;
   
    opacity: 0.8;
    overflow: hidden;
    position: relative;
    margin-top: 40px;
    cursor: pointer;
}



.profile-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.link-item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.foto-propuesta {
    width: 100%;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto-container .description {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s;
    overflow-y: auto;
    color: #fff;
    font-size: 14px;
    max-height: 100%;
    z-index: 10;
}

.foto-container:hover .description {
    opacity: 1;
}

.description p {
    color: #fff;
    font-size: 16px;
}

.tituloPropuesta {
    font-size: 25px;
    color: #fff;
      text-transform: uppercase;

    text-align: center;
      font-family: 'Poppins', sans-serif;

}

/* Estilos adicionales para el slider */
.slick-slider {
    margin: 0 auto !important;
    width: 70%;
    max-width: 1000px;
}

/* Estilos adicionales para los contenedores de las imágenes */
.slick-slide {
    text-align: center;
}

/* Estilos para las imágenes dentro del slider */
.slick-slide img {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 70%;
    max-width: none;
    height: auto;
}
.modal{
    font-size: 18px;
    color: #ffffff;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    .propuesta-card {
        margin-top: 40px;
        margin-bottom: 0px;
        opacity: 0.8; /* Ajuste de opacidad para dispositivos móviles */
    }
}
