@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Edu+NSW+ACT+Foundation:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Codystar:wght@300;400&display=swap');



.profile-card-container {
  margin-top: 80px;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profile-card {
  transform: rotateZ(1deg); /* efecto torcido*/

  position: relative; /* Asegura que la posición absoluta de la foto se base en este contenedor */
  width: 70%;
  height: 70%;
  border: none;
  border-top-left-radius: 40px; /* Radio de esquina superior izquierda */
  border-top-right-radius: 10px; /* Radio de esquina superior derecha */
  border-bottom-left-radius: 10px; /* Radio de esquina inferior izquierda */
  border-bottom-right-radius: 40px; /* Radio de esquina inferior derecha */
  box-shadow: 0 8px 16px rgba(194, 190, 190, 0.2); /* Añade una sombra para simular el relieve */
  transition: transform 0.5s, box-shadow 0.5s; /* Agrega transición para la sombra */

  perspective: 1000px;
  transition: transform 0.5s;
  background-color:#4a4891;
  overflow: hidden; /* Asegura que la foto no se salga del contenedor */

}

.profile-card:hover {
  transform: rotateY(20deg);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3); /* Incrementa la intensidad de la sombra en hover */
  transform: rotateZ(1deg); /* efecto torcido*/
  transform: rotateZ(-1deg); /* efecto torcido*/

}



.tituloResumen{
  font-family: 'Codystar', sans-serif;
  margin-top: 0; /* Ajusta el margen superior del título */
}

p{
  font-family: 'Advent Pro', sans-serif;
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: azure;

}

.profile-content {
  display: flex;
  align-items: center;
  padding: 10px;
}

.profile-image {
  position: relative;
  bottom: 0; /* Posiciona la imagen en la parte inferior del contenedor */
  left: 0; /* Ajusta la posición izquierda */
  width: 100%; /* Ajusta el ancho al 100% del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
}
.profile-image {
  width: 45%;
}


.profile-image img {
  width: 100%;
  border-radius: 20%;
}

.summary {
  width: 85%;
  padding-left: 20px;
}

.social-links {
  display: flex;
}

.social-links a {
  margin-right: 10px;
}

.social-icon {
  width: 30px;
  height: auto;
}

.cv-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
}

.cv-icon {
  width: 40px;
  height: auto;
  margin-right: 10px;
}

.download-cv{
margin-top: 30px;
}


