@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Edu+NSW+ACT+Foundation:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Codystar:wght@300;400&display=swap');

.profile-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profile-card {
  transform: rotateZ(1deg); /* efecto torcido*/
  position: relative;
  width: 90%;
  height: 80%;
  border: none;
  border-top-left-radius: 40px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 40px;
  box-shadow: 0 8px 16px rgba(194, 190, 190, 0.2);
  transition: transform 0.5s, box-shadow 0.5s;
  perspective: 1000px;
  background-color: #4a4891;
  overflow: hidden;
}

.profile-card:hover {
  transform: rotateY(20deg);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
  transform: rotateZ(1deg); /* efecto torcido*/
  transform: rotateZ(-1deg); /* efecto torcido*/
}

.tituloResumen {
  font-family: 'Codystar', sans-serif;
  margin-top: 0;
}

p {
  font-family: 'Advent Pro', sans-serif;
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: azure;
  line-height: 1.6;
}

.profile-content {
  display: flex;
  align-items: center;
  padding: 10px;
  position: relative;
}

.profile-image {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 5%; /* Cambia este valor según lo que desees */
}


.summary {
  width: 65%;
  padding-left: 20px;
  margin-left: 35%;
}

.social-links {
  display: flex;
}

.social-links a {
  margin-right: 10px;
}

.social-icon {
  margin-left: 30px;
  width: 50px;
  height: auto;
}

.cv-link {
  display: flex;
  align-items:end;
  text-decoration: none;
  color: #333;
}

.cv-icon {
  width: 40px;
  height: auto;
  margin-right: 10px;
}

.download-cv {
  margin-top: 30px;
margin-left: 50%;


}
