/* Importa la fuente Edu NSW ACT Foundation desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&display=swap');

.header-text {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 10px;
  color: #060606; /* Color oscuro */
  font-family: 'Edu NSW ACT Foundation', sans-serif; /* Fuente Edu NSW ACT Foundation */
  font-weight: 700; /* Negrita */
  text-transform: uppercase;
  letter-spacing: 1.5px; /* Espaciado entre letras */
}

.typeit-text {
  font-size: 3rem;
  text-align: center;
  color: #ffffff; 
  font-family: 'Edu NSW ACT Foundation', sans-serif; /* Fuente Edu NSW ACT Foundation */
  font-weight: 400; /* Normal */
  margin-top: 10px;
  margin-bottom: 10px;
}
