/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&family=Charm:wght@400;700&display=swap');

/* Contenedor */
.myname-container {
  text-align: center;
  padding: 2rem;
}

/* Nombre */
.nombre {
  font-family: 'Poppins', sans-serif;
  font-size: 5rem;
  font-weight: 700;
  
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(135deg, #232853, #010233, #152750);
  }

/* Texto Hola */
.hola {
  color: #fbfbfc; /* Blanco vibrante */
  font-size: 6rem;
  font-weight: 700;
}

/* Efecto de Texto */
.typeit-text, .typeit-text span {
  font-family: 'Athiti', sans-serif !important;
  font-size: 50px !important;
  color: #f4f3f5 !important;
  font-weight: 900 !important;
  letter-spacing: 2px !important;
  text-shadow: 0 0 5px #3f6e7a, 0 0 10px #33545e, 0 0 15px  !important;
  white-space: nowrap !important;
}

/* Animaciones */
@keyframes glow {
  0% {
    text-shadow: 0 0 10px #051a20, 0 0 20px #04BEF1, 0 0 30px #04BEF1;
  }
  100% {
    text-shadow: 0 0 20px #072129, 0 0 30px #04BEF1, 0 0 40px #04BEF1;
  }
}
