/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&family=Charm:wght@400;700&display=swap');

/* Contenedor */
.myname-container {
  text-align: center;
  padding: 2rem;
}

/* Nombre */
.nombre {
  font-family: 'Poppins', sans-serif;
  font-size: 5rem;
  font-weight: 700;
  background: linear-gradient(30deg, rgba(13, 15, 11), rgba(5, 1, 10));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  animation: glow 2s ease-in-out infinite alternate;
}

/* Texto Hola */
.hola {
  color: #fbfbfc; /* Blanco vibrante */
  font-size: 6rem;
  font-weight: 700;
}

/* Efecto de Texto */
.typeit-text, .typeit-text span {
  font-family: 'Athiti', sans-serif !important;
  font-size: 50px !important;
  color: #030303 !important;
  font-weight: 900 !important;
  letter-spacing: 2px !important;
  text-shadow: 0 0 5px #80aebb, 0 0 10px #33545e, 0 0 15px #15f169 !important;
  white-space: nowrap !important;
}

/* Animaciones */
@keyframes glow {
  0% {
    text-shadow: 0 0 10px #04BEF1, 0 0 20px #04BEF1, 0 0 30px #04BEF1;
  }
  100% {
    text-shadow: 0 0 20px #04BEF1, 0 0 30px #04BEF1, 0 0 40px #04BEF1;
  }
}
