/* Estilos para la navbar */
.navbar {
  position: fixed; /* Fija la navbar en la parte superior */
  text-align: center; /* Centra el contenido del texto */
  top: 0; /* Coloca la navbar en la parte superior de la página */
  width: 100%; /* Hace que la navbar abarque todo el ancho de la página */
  margin-bottom: 200px; /* Espacio inferior de 200px */
  height: 30px;
  background-color: #4a4891;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para darle un efecto de elevación */
  padding: 20px 0; /* Espaciado interno en la parte superior e inferior */
  z-index: 1000; /* Asegura que la navbar esté por encima de otros elementos */
}

.navbar ul {
  list-style-type: none; /* Quita el estilo de lista por defecto */
  margin: 0; /* Quita el margen por defecto */
  padding: 0; /* Quita el relleno por defecto */
  display: flex; /* Usa flexbox para la disposición */
  justify-content: center; /* Centra los ítems en el eje horizontal */
  align-items: center; /* Centra los ítems en el eje vertical */
}

.navbar ul li {
  margin: 0 10px; /* Margen horizontal entre los ítems de la lista */
}

.navbar ul li a {
  display: block; /* Hace que el enlace sea un bloque */
  color: white; /* Color del texto del enlace */
  text-align: center; /* Centra el texto del enlace */
  padding: 14px 16px; /* Espaciado interno en el enlace */
  text-decoration: none; /* Quita el subrayado del enlace */
}

.navbar ul li a:hover {
  background-color: #111; /* Cambia el color de fondo al pasar el ratón */
}

/* Estilos para el botón de menú en dispositivos móviles */
.navbar .menu-button {
  display: none; /* Oculta el botón por defecto */
  background-color: #333; /* Color de fondo del botón */
  color: white; /* Color del texto del botón */
  border: none; /* Sin borde */
  padding: 14px 16px; /* Espaciado interno del botón */
  cursor: pointer; /* Cursor en forma de mano */
  font-size: 16px; /* Tamaño de la fuente */
}

/* Ocultar el menú en dispositivos móviles por defecto */
@media (max-width: 600px) {
  .navbar ul {
    display: none; /* Oculta el menú */
    flex-direction: column; /* Dispone los ítems en columna */
    width: 100%; /* Hace que el menú abarque todo el ancho */
  }

  .navbar ul li {
    float: none; /* Quita el flote */
    width: 100%; /* Hace que los ítems abarquen todo el ancho */
  }

  .navbar .menu-button {
    display: block;
    background-color: #4a4891;
  }

  .navbar ul.show {
    display: flex; /* Muestra el menú cuando se activa la clase 'show' */
  }

  .show{
    background-color: #6460cd;

  }
}
