/* Contacto.css */
@import url('https://fonts.googleapis.com/css2?family=Codystar:wght@300;400&family=Rubik+Burned&display=swap');


.profile-card-contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }
  
  .profile-card {
    width: 80%; /* Ajusta el ancho según sea necesario */
    height: 20%;
    max-width: 1200px; /* Máximo ancho para grandes pantallas */
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #6c6464;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 100px;

  }
  
  .profile-content.contacto {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .links {
    color: #ccc;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinea los íconos a la izquierda */
    width: 50%; /* Ajusta el ancho de los enlaces */
  }
  .link-item {
    display: flex;
    align-items: center;
    
    margin-bottom: 30px; /* Espaciado entre los íconos */
  }
  .social-icon {
    margin-right: 100px; /* Espaciado entre el ícono y el texto */
  }
  .foto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%; /* Asegura que la foto no exceda el 35% del ancho */
  }
  
  .profile-imagen {
    width: 130%;
    margin-right: 115px; /* Ajusta el ancho al 100% del contenedor */
  }
  