.footer {
    background-color: #121212;
    display: flex;
    justify-content: center; /* Alinear horizontalmente */
    align-items: center; /* Alinear verticalmente */
    height: 70px;
    color: aliceblue;
}
